body {
    background-color: lightslategray;
}

.card {
    margin: 20px 25px 20px 0px;
}
.card img {
    max-height: 270px;
}
.main-section {
    background-color: lightslategray;
}

.first-article h1 {
    display: flex;
    justify-content: center;
    font-family: cursive;
}
.label {
    display: flex;
    justify-content: center;
    font-family: cursive;
}
